---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title="David Gutiérrez Pasqual | Projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Software</div>
  </div>

  <HorizontalCard
    title="Sigma"
    desc="Discord clone made for bachelor's thesis. Client side is made with React and server side with Express."
    url="https://benevolent-paletas-f7af8e.netlify.app/"
  />
  <HorizontalCard
    title="Skribbl (WIP)"
    desc="Skribbl clone. Client side is made with React and server side with Express."
    url="https://github.com/deividgp/Skribbl-clone-client/"
  />
  <HorizontalCard
    title="Hacker News (Coming soon)"
    desc="Hacker News clone made with Next.js."
    url="https://github.com/deividgp/hacker-news-clone/"
  />
</BaseLayout>
